html,body{ 
     background: transparent url(../images/background.png); 
     font-family: 'proxima-nova', sans-serif;
     font-size: 20px;
     line-height:1.3;
     color:#000;
     font-weight: 300; 
     text-decoration:none;
}

.hide{display:none;}
.center{ text-align:center; }
.aligncenter, div.aligncenter { display:block; margin: 5px auto 5px auto;}
.margin20{margin-top:20px;}
p{margin: 1em;}
strong{font-weight:700; }
em{ font-style: italic; }
ul li{}
ol li{}

a{ text-decoration: none; }
a:link,a:active{ color:#0093dd; }
a:visited{ color:#41bfff; }
a:hover{ color:#127bb0; }


.boton{ display:inline-block; width:166px; height:33px; background:transparent url(../images/botones.png) no-repeat; }
.boton-descarga{ background-position:0px 0px;  }
.boton-descarga:hover{ background-position:0px -33px;  }
.boton-documentacion{ background-position:0px -66px;  }
.boton-documentacion:hover{ background-position:0px -99px;  }
.boton-vermanual{ background-position:0px -132px;  }
.boton-vermanual:hover{ background-position:0px -165px;  }
.boton-descmanual{ background-position:0px -198px;  }
.boton-descmanual:hover{ background-position:0px -231px;  }
.boton-donar200{ background-position:0px -264px;  }
.boton-donar200:hover{ background-position:0px -297px;  }
.boton-donar500{ background-position:0px -330px;  }
.boton-donar500:hover{ background-position:0px -363px;  }
.boton-donar900{ background-position:0px -396px;  }
.boton-donar900:hover{ background-position:0px -429px;  }


pre{ padding: 10px; font-size:16px; background: rgb(100, 100, 100)}

#container{ margin-top:10px;}
     
     #header{ position:relative; }
          h1#logo {}
               h1#logo a{display:block; width:279px; height:74px; background:transparent url(../images/logo-pilas-engine.png) no-repeat;}
               h1#logo a span{display:none;}
          nav#access{ position:absolute; right:0px; top:30px; font-size:16px; }
          .navigation li{ display:inline; margin:0px 5px; font-weight:400; text-transform:lowercase;  }
          .navigation a{ color:#000; }
          .navigation a.active{ font-weight:700; }
     
     #main{ margin-top:10px; }
     #main .tagline{ font-weight:300; margin-top:50px; margin-bottom:50px;  font-size:60px; text-align:center; line-height:1.2;  }
     #main h2.title{ font-weight:300; margin-top:15px; margin-bottom:15px;  font-size:60px; text-align:left; line-height:1.2; border-bottom:1px solid #000;  }
     #main h3.title{ font-weight:400; margin-top: 2em; margin-bottom:10px;  font-size:26px; text-align:left; line-height:1.2; border-bottom:1px solid #000;  }
     #main .small{ font-size:16px; }
     #main .versions{ font-size:18px; }
     #main .versions li{ margin-top:5px; }  
          
          #features{ margin-top:20px; }
               .feature{ margin-top:30px;}
               .feature p{ font-size:16px; }
          #primary{}
          .post{ margin-top:10px; }
          .gallery img{ -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); margin: 0.5em; }
          
          #secondary{}
          
     #footer{margin-top:40px; padding-top:10px; border-top:1px solid #000; position:relative; font-size:16px; }
          #footer a.logo{ display:inline-block; background:transparent url(../images/logo-pilas-footer.png) no-repeat; width:119px; height:21px; }
          #footer nav{ position:absolute; left:140px; top:9px;   }
          
          #github-star{ position:absolute; left:600px; top:9px; }
          #github-fork{ position:absolute; left:700px; top:9px; }
