<div class='contenedor-vista'>
<div class="col-xs-12 center" style="text-align: center;">
		<ul class="quick-actions">
			<li>
				<a href="#/tutoriales/caminos">
					<img src="imagenes/tutoriales/caminos.png" alt="">
					<br/>
					Caminos
				</a>
			</li>
			<li>
				<a href="#/tutoriales/nave">
					<img src="imagenes/tutoriales/nave.png" alt="">
					<br/>
					Nave
				</a>
			</li>
			<li>
				<a href="#/tutoriales/fisica">
					<img src="imagenes/tutoriales/fisica.png" alt="">
					<br/>
					Física
				</a>
			</li>
		</ul>
	</div>
</div>