.project
.pydevproject
*.egg
*.egg-info/
*.log
*.mo
*.pot
*.py[cod]
*.pyc
*.so
*.svn-base
.DS_Store
.Python
.cache
.coverage
.idea/
.installed.cfg
.project
.pydevproject
.ropeproject
.settings/
.settings/*
.tags
.tags_sorted_by_file
.tox/
__pycache__/
_site/*
anterior_Pyqt4
build
build/
coverage.xml
develop-eggs/
dist/
dist/
doc/build/*
doc/refcard/*.pdf
docs/_build/
eggs/
env/
htmlcov/
lib/
lib64/
log_distmac.txt
macbins
nosetests.xml
parts/
pilas.egg-info
pilas/data/pilas.pdf
pip-delete-this-directory.txt
pip-log.txt
sdist/
utils/paquete-ubuntu/resultado
utils/paquete-ubuntu/resultado/pilas/
utils/paquete-ubuntu/resultado/pilas_clone.log
utils/paquete-ubuntu/resultado/pybox2d/.svn/pristine/23/237d46a2e94e3b26beb5971999b97a9cf2c3beba.svn-base
var/
tmp
pilas-engine.app
pilas-engine.app.zip

pilasengine/actores/.actor.py.swp

*.swp
*.*~
