recursive-include doc *
recursive-include pilas/data *
recursive-include pilas/ejemplos/data *
recursive-include pilas/ejemplos/ejemplos *
recursive-include pilas/console/lang *
include AUTHORS
include LICENSE
include INSTALL
