recursive-include pilas/data *
recursive-include pilas/ejemplos/data *
recursive-include pilas/cargador/data *
recursive-include pilas/cargador/ejemplos *
recursive-include doc *
include AUTHORS
include LICENSE
include INSTALL
