Package: pilas
Version: 0.83
Architecture: all
Maintainer: Hugo Ruscitti <hugoruscitti@gmail.com>
Installed-Size: 4000
Depends: python-qt4 (>= 4.3), python-qt4-gl (>= 4.3), python-qt4-phonon (>= 4.3)
Section: education
Priority: optional
Homepage: http://www.pilas-engine.com.ar
Description: un motor para realizar videojuegos de manera sencilla.
 un motor para realizar videojuegos
 de manera sencilla.
Original-Maintainer: Hugo Ruscitt <hugoruscitti@gmail.com>
