body {
}

#container {
	margin: 5% auto 0 auto;
	display: block;
}

.cleaner {
	clear: both;
}

ul {
	margin: 0;
	text-align: left;
}

ul.menu {
	margin-left: .5em;
	margin-bottom: 1em;
}

ul.item li {
	list-style-type: none;
	display: block;
	float: left;
    text-align: center;
    font-size: small;
    margin: 10px;
}


img.boton:hover {
    background-color: yellow;
}

div.superior {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid #ccc;
}
