<!DOCTYPE html>
<html lang="es" ng-app='app'>
<head>
  <title>pilas engine</title>
  <meta charset="utf-8">

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/estilo.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <link href="css/ejemplos.css" rel="stylesheet">

  <script src="js/jquery-1.8.3.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/spin.js"></script>

  <script src="js/angular.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/angular-animate.js"></script>
  <script src="js/ui-bootstrap-tpls.js"></script>
  <script src="js/version.js"></script>
  <script src="js/app.js"></script>
  <script src="js/compare.js"></script>

  <script src="js/factories/PanelVersionFactory.js"></script>


  <script>
    window.interlocutor = interlocutor;

    function abrir_interprete() {
        interlocutor.abrir_interprete();
    }

    function abrir_editor() {
        interlocutor.abrir_editor();
    }

    function abrir_manual() {
        interlocutor.abrir_manual();
    }

    function abrir_api() {
        interlocutor.abrir_api();
    }

    function abrir_configuracion() {
        interlocutor.abrir_configuracion();
    }

    function abrir_sitio_de_pilas() {
        interlocutor.abrir_sitio_de_pilas();
    }

    function resaltar_caja_destino_para_soltar(resaltar) {
      var color;

      if (resaltar)
        color = 'yellow';
      else
        color = '';

      $("#footer .tip").css('background-color', color);
    }



    function definir_version(version, version_local) {

      setTimeout(function() {
        console.log("El servidor informó que la versión mas reciente es la " + version + ", y este equipo usa la versión " + version_local);

        /* Elementos */

        var elementoAviso = document.getElementById('aviso');
        var elementoMensajeAviso = document.getElementById('mensajeAviso');

        var elementoActualizado = document.getElementById('actualizado');
        var elementoMensajeActualizado = document.getElementById('mensajeActualizado');

        var elementEsperaImagen = document.getElementById('esperaImagen');






        /* Ocultando la animacion de actividad */
        elementEsperaImagen.style.setProperty('display', 'none');

        if (versionCompare(version_local, version) < 0) {
            // Si la version del servidor es mas nueva que la actual ...

            elementoAviso.style.setProperty('display', 'inline');
            elementoMensajeAviso.style.setProperty('display', 'block');
        } else {
            // Si la version está actualizada ...

            elementoActualizado.style.setProperty('display', 'inline');
            elementoMensajeActualizado.style.setProperty('display', 'block');
        }

      }, 4000);
    }

  </script>

</head>

<body ng-controller='MainCtrl'>

<div class='container'>

  <div id='header'>

    <div class='version'>
      <span id='aviso'><img id='avisoImagen' src='imagenes/actualizacion.png'></span>
      <div id='span2'>
        <div id='esperaImagen'></div>
      </div>
      <span id='actualizado'><img id='actualizadoImagen' src='imagenes/actualizado.png'></span>
      <a href id='version' ng-click='alternar_panel_version()' class='link-version'> versión {{data.version.version}}</a>
    </div>


    <div class='panel-fondo' ng-click='alternar_panel_version()' ng-show='data.consultar_panel_visible() == true'>
      <div class='panel-version'>
          <p>Esta versión ha sido generada el
            <strong>{{data.version.fecha}}</strong> desde el commit <code>{{data.version.commit}}</code>.

          <div id='mensajeAviso' class='aviso'>Este icono <img src='imagenes/actualizacion.png'> indica
            que hay una actualización de
            pilas-engine disponible para descargar desde el
            <a href onclick='abrir_sitio_de_pilas()'>sitio del proyecto</a>.
          </div>

           <div id='mensajeActualizado' class='aviso'>Este icono <img src='imagenes/actualizado.png'> indica
            que tenés la versión mas reciente de <a href onclick='abrir_sitio_de_pilas()'>pilas-engine</a>.
           </div>

          <h4>Cambios recientes</h4>
          <ul>
              <li ng-repeat='c in data.version.changelog'>{{c}}</li>
              <li><a href onclick='abrir_sitio_de_pilas()'>ver mas...</a></li>
          </ul>

      </div>
    </div>


  </div>

  <!-- forzando la carga de la imagenen -->
  <img src='imagenes/procesando.gif'>
  <ng-view class='view-animate'></ng-view>

</div>

<script>
  var elementEsperaImagen = document.getElementById('esperaImagen');
  var opts = {
    lines: 9,
    length: 3,
    width: 2,
    radius: 4,
    corners: 1,
    rotate: 0,
    direction: 1,
    color: '#000',
    speed: 1.1,
    trail: 35,
    shadow: false,
    hwaccel: false,
    className: 'spinner',
    zIndex: 2e9,
position: 'relative',
  };
  var spinner = new Spinner(opts).spin(elementEsperaImagen);
</script>


</body>
</html>
