<div id='ejemplos'>
    <h2>Ejemplos</h2>

    <div class='barra-superior'>
        <input disabled class='filtro' ng-model='data.filtro' placeholder='Filtrar'>
        <p><a href='#/' class='btn btn-sm btn-info'> Regresar</a>
    </div>

    <div class='cuerpo'>

        <ul class='item'>

        <li ng-repeat='ejemplo in data.ejemplos'>

            <div class='contenedor_ejemplo'>
            <a ng-click="abrir_ejemplo(ejemplos.nick)" href=''>
              <span class='nombre'>
                      {{ejemplos.titulo}}
              </span>
              <img src='imagenes/ejemplos/{{ejemplo.nick}}.png'>
            </a>

            <br/>

            <a href='' ng-click="abrir_ejemplo(ejemplos.nick)">Ejecutar</a>  &nbsp; &nbsp; &nbsp;
            <a href='' ng-click="abrir_codigo(ejemplos.nick)">Código</a>

            <br/>

            <span class='progresando'><img src='imagenes/procesando.gif'/></span>
        </div>
      </li>
        </ul>



    </div>

</div>