<h1>Excelente</h1>

<p>Como puedes ver, el intérprete nos muestra <code>4</code>, el
resultado de lo que le pedimos.</p>

<p>Ese es uno de los conceptos mas básicos de programar, consiste
en decirle a la computadora "que" tiene que hacer.</p>

<p><strong>¿Viste la nave que aparece arriba?</strong>, hacé lo siguiente para que
comencemos a hacer un juego:</p>

<div ng-repeat='c in consignas'>
  <div ng-show='!c.completa' class='alert'><span class='icon-hand-right'></span> {{c.texto}}</div>
  <div ng-show='c.completa' class='alert alert-success'><span class='icon-ok-circle'></span> {{c.texto}}</div>
</div>

