div.footer {
  font-size: small;
  color: gray;
}

body {
    margin-left: 1em;
}


div.span3 img {
    border-right: 10px;
}

div.row {
    margin-bottom: 10px;
}

div.consulta_version {
    font-size: x-small;
    color: gray;
}

div.version {
    font-size: small; 
    color: gray;
}

div.tip {
    margin-top: 5em;
    font-size: small; 
    color: gray;
}

div.frame {
    display:none;
}
