<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" media="screen" href="./css/master.css"/>
    <link rel="stylesheet" media="screen" href="./css/pygments.css"/>
    <link rel="stylesheet" media="screen" href="./css/{{ page.css }}"/>
  </head>
  <body>
    <div id="container"> 

      <header class="group">
        <h1 class="logo"><a href="./">Header: pilasengine</a></h1>
      </header>

      <aside>
        <ul>
          <li><a href='./'>Principal</a></li>
          <li><a href='./foro.html'>Foro</a></li>
        </ul>
      </aside>


      <div id="content">
        {{ content }}
      </div>

      <div id="footer">esto es el footer</div>
    </div>
  </body>
</html>
