@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('../fonts/droid_sans.ttf') format('truetype');
}


@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('../fonts/droid_sans_mono.ttf') format('truetype');
}



body {
	font-family: 'Droid Sans';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Droid Sans';
}

p { 
	font-size: 16px;
	line-height: 1.8;
}

#content {
	overflow-y: scroll;
  left: 0 !important;
  top: 0 !important;
}


.acciones-header {
  font-size: small;
  margin-top: 10px;
	display: inline-block;
}

	.mini-icono {
		opacity: 0.5;
		margin-left: 5px;
	}

	.mini-icono:hover {
		opacity: 1;
		cursor: pointer;
	}



.grande {
  font-size: 40px !important;
  display:block;
}

div.equipo {
	margin: 1em;
	margin-left: 3em;
}

.equipo img {
  box-shadow: 0 0 1px gray;
}

.equipo img:hover {
  box-shadow: 0 0 3px blue;
}

.contenedor-iframe {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	top: 30px;
	border: 1px solid gray;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0;
	background-color: white;
	background-image: url('../imagenes/spinner.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

li.separador {
	background-color: transparent !important;
}

.caja {
	padding-right: 15px;
}

.widget-box {
	background-color: white !important;
}

#content h1 {
	margin-top: 0px;
}

#content h2 {
	margin-top: 1em;
}


p.detalle {
	color: gray;
	font-size: small;
}

img.logo-completo {
	float: right;
	box-shadow: 0 0 4px rgb(224, 224, 224);
	border-radius: 10px;
	padding: 0.5em;
	margin-left: 1em;
}


div.tutorial {
	bottom: 10px;
	position: absolute;
	top: 42px;
	right: 5px;
	left: 13px;
	border: 1px solid lightGrey;
}

.fijo {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}


.integrante {
	position: relative;
	display: inline-block;
	margin: 2px;
}

.detalle-integrante {
	position: absolute;
	width: 200px;
	height: 130px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 3px 3px 3px rgba(153, 153, 153, 0.43);
	padding: 4px;
	margin: 3px;
	border: 1px solid rgb(145, 145, 145);
	z-index: 300;
}



.open.ng-enter, .open-ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.open.ng-enter {
	opacity: 0;
}

.open.ng-enter-active {
	opacity: 1;
}

.open.ng-leave {
	opacity: 1;
}

.open.ng-leave-active {
	opacity: 0;
}

.contenedor-vista {
	position: absolute;
	right: 15px;
	left: 15px;
}

.btn-icon {
	color: black;
}

.btn-pulsado {
	color: blue !important;
	background-color: white;
}

.popover {
	width: 170px;
	max-width: 170px;
	margin-top: -25px !important;
	text-align: center;
}

.btn-sm {
    font-size: 13px !important;
}