/*
 * Print.css 
 * Jason Cole (http://jasoncole.ca)
 * June - September 2007
 */

/*
 *  
 *  Containers
 *  
 */

.container_100,.container_95,.container_90,.container_85,.container_80,.container_75,.container_70,.container_65,.container_60,.container_55,.container_50,.container_45,.container_40,.container_35,.container_30,.container_25,.container_20,.container_15,.container_10,.container_5,.container_760px,.container_600px,.container_980px,.container_5em,.container_10em,.container_15em,.container_20em,.container_25em,.container_30em,.container_35em,.container_40em,.container_45em,.container_50em,.container_55em,.container_60em,.container_65em,.container_70em,.container_75em,.container_80em,.container_85em,.container_90em,.container_95em,.container_100em
{
 margin: 0 auto;
 text-align: justify;
 width: 100%;
}

/*
 *  
 *  box class and #Header
 *  
 */

.box,#header
{
 background-color: #fff;
}
