/*
 * Text.css 
 * Jason Cole (http://jasoncole.ca)
 * June - September 2007
 */

/*
 *  
 *  General
 *  
 */

body
{
 font-family: Arial, sans-serif;
 font-size: 100%;
}

p
{
 font-size: 1em;
 line-height: 1.5em;
 margin: 0 0 1.5em;
}

h1
{
 border-bottom: 1px solid #ddd;
 color: #000;
 font-size: 3em;
 line-height: 1em;
 margin: 0 0 0.5em;
}
h2
{
 border-bottom: 1px solid #ddd;
 color: #000;
 font-size: 1.5em;
 line-height: 1em;
 margin: 0 0 1em;
}
h3
{
 border-bottom: 1px solid #ddd;
 color: #000;
 font-size: 1.3333em;
 line-height: 1.125em;
 margin: 0 0 1.125em;
}
h4
{
 border-bottom: 1px solid #ddd;
 color: #000;
 font-size: 1.1667em;
 line-height: 1.286em;
 margin: 0 0 1.286em;
}
h5
{
 border-bottom: 1px solid #ddd;
 color: #000;
 font-size: 1em;
 line-height: 1.2em;
 margin: 0 0 0.3em;
}
h6
{
 border-bottom: 1px solid #ddd;
 color: #000;
 font-size: 0.8333em;
 line-height: 0.9em;
 margin: 0 0 0.9em;
}

ul,ol
{
 line-height: 1.5em;
 list-style-position: inside;
 margin: 0 0 1.5em;
 padding: 0;
}

dl
{
 line-height: 1.5em;
}
dt
{
 border-bottom: 1px solid #ddd;
 color: #000;
 font-weight: bold;
 margin: 0;
 padding: 0;
}
dd
{
 margin: 0 1.5em 0.75em;
 padding: 0;
}

blockquote
{
 margin: 0;
 padding: 0;
}
blockquote p
{
 line-height: 1em;
 margin: 0 0.75em 1.5em;
}

table
{
 border-collapse: collapse;
 caption-side: bottom;
 line-height: 1.5em;
 margin: 0 0 1.5em;
}
td,th
{
 border: 1px solid;
 border-color: #ddd #ddd #ccc;
 padding: 0.375em 0.75em;
}

fieldset
{
 border: 1px solid;
 border-color: #ddd #ddd #ccc;
 margin: 0 0 1.5em;
 padding: 0.75em;
}
input,textarea
{
 background-color: #fff;
 border: 1px solid;
 border-color: #ddd #ddd #ccc;
 color: #000;
 margin: 0 0 1.5em;
 width: 99%;
}

br
{
 clear: both;
}

a,a:link,a:visited
{
 text-decoration: underline;
}
a:hover,a:active
{
 text-decoration: none;
}

/*
 *  Classes
 */

.text_center
{
 text-align: center;
}
.text_left
{
 text-align: left;
}
.text_right
{
 text-align: right;
}

.float_left
{
 float: left;
}
.float_right
{
 float: right;
}
.clear_left
{
 clear: left;
}
.clear_right
{
 clear: right;
}
.clear_both
{
 clear: both;
}

.submit
{
 display: block;
}